*.swp
out*.png
*.png
*.jpg
*.prototxt*
*.caffemodel
models/
!models/download_models.sh
deepflow2-static
deepmatching-static
consistencyChecker/consistencyChecker
data/
test/
test0/
test1/
test4/
test5/
